/* src/styles/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
body {
    @apply bg-navy-900 text-white;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}